# pyodbc

Um driver ODBC (Open Database Connectivity) utiliza uma interface de conectividade aberta com bases de dados que permite que aplicações acessem o SGBD (Sistema Gerenciador de Banco de Dados) utilizando de SQL. ODBC permite que uma mesma aplicação possa acessar diferentes SGBDs, e diferentes aplicações podem acessar drivers de bases de dados ODBC para conectar a um banco de dados.

### Conectando ao banco de dados

Local do servidor, nome do banco de dados, ID de logon, senha e diversas opções de driver ODBC que descrevem como se conectar à fonte de dados são exemplos de informações de conexão, e podem ser obtidas com o administrador do banco de dados ao qual você deseja se conectar.

Exemplo:
```
import pyodbc

# Inserindo especificações diretamente
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=testdb;UID=me;PWD=pass')

# Using a DSN, but providing a password as well
cnxn = pyodbc.connect('DSN=test;PWD=password')

# Create a cursor from the connection
cursor = cnxn.cursor()
```

### Realizando consultas

Podemos inserir parâmetros com interrogações ao longo da query realizada, como argumentos após a query.

#### SELECT

In [ ]:
import pyodbc
cursor.execute("""
    select user_id, user_name
      from users
     where last_logon < ?
       and bill_overdue = ?
""", [datetime.date(2001, 1, 1), 'y'])

#### INSERT INTO

In [ ]:
import pyodbc
cursor.execute("insert into products(id, name) values (?, ?)", 'pyodbc', 'awesome library')
cnxn.commit()

#### DELETE

In [ ]:
cursor.execute("delete from products where id <> ?", 'pyodbc')
print(cursor.rowcount, 'products deleted') # Retorna as linhas deletadas
cnxn.commit()

#### Retornar os valores da consulta

In [ ]:
cursor.execute("select user_id, user_name from users")
rows = cursor.fetchall()

# Exemplo SQL Server -> Pandas

In [ ]:
import pyobdc

query = "SELECT * FROM tabela"
database = "DATABASE"
server = "SERVER"
infos = f"Driver=[SQL Server Native Client 11.0]; Server={server};Database={database};Trusted_Connection=yes"

conexao = pyobdc.connect(infos)
cursor = conexao.cursor()
tabela = pd.read_sql(query, conexao)

# Exemplo Criando Tabela e Acessando

Passo 1: Baixar e instalar o SSMS (SQL Server Management Studio) -> IDE p/ SQL Server

Passo 2: Instalar 

Passo 3: Criar banco de dados, abrindo uma query e rodando:

```
CREATE DATABASE Nome_Banco_Dados
```

Passo 4: Criar tabela, usando:

```
USE Nome_Banco_Dados
CREATE TABLE Vendas(
    id_venda int,
    cliente varchar(50),
    produto varchar(50),
    data_venda date,
    preco decimal(6, 2),
    quantidade int,
    )
```

Passo 5: Adicionar 1 valor exemplo:

```
INSERT INTO Vendas(id_venda, cliente, produto, data_venda, preco, quantidade)
VALUES
    (1, 'Lira', 'PC', '15/02/2021', 8000, 1)
```

In [ ]:
import pyodbc

dados_conexao = (
    "Driver={SQL Server};"
    "Server=DESKTOP-T2JV7P5;"
    "Database=PythonSQL;"
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão Bem Sucedida")

cursor = conexao.cursor()

id = 3
cliente = "Lira Python"
produto = "Carro"
data = "25/08/2021"
preco = 5000
quantidade = 1

comando = f"""INSERT INTO Vendas(id_venda, cliente, produto, data_venda, preco, quantidade)
VALUES
    ({id}, '{cliente}', '{produto}', '{data}', {preco}, {quantidade})"""

cursor.execute(comando)
cursor.commit() # Necessário para consolidar

# Exemplo CRUD (integração Python <-> MySQL)

In [ ]:
from mysql.connector import connect

conexao = connect(host='localhost', user='root', password='123456', database='bdyoutube')
cursor = conexao.cursor()

# CREATE
nome_produto = "chocolate"
valor = 15
comando = f'INSERT INTO vendas (nome_produto, valor) VALUES ("{nome_produto}", {valor})'
cursor.execute(comando)
conexao.commit() # edita o banco de dados

# READ
comando = f'SELECT * FROM vendas'
cursor.execute(comando)
resultado = cursor.fetchall() # ler o banco de dados
print(resultado)

# UPDATE
nome_produto = "todynho"
valor = 6
comando = f'UPDATE vendas SET valor = {valor} WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit() # edita o banco de dados

# DELETE
nome_produto = "todynho"
comando = f'DELETE FROM vendas WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit() # edita o banco de dados

# Finaliza o programa
cursor.close()
conexao.close()