# Listas

* Listas podem conter todos os tipos de valores, inclusive outras listas (se tornam matrizes)

In [1]:
lista = [1,2,3,4,5,6]
print(lista)

[1, 2, 3, 4, 5, 6]

### Acessando índices da lista:

Obs.: índices começam no 0 

Podemos acessar os índices por meio de números negativos. As listas começam de trás pra frente a partir do -1

In [2]:
print(lista[0])

lista[-1]

1

6

**Slice**: selecionar um range de índices dentro de uma lista

In [3]:
lista[1:2] # não conta o índice final

[2]

In [4]:
lista[1: ] # seleciona a partir do 1 (conta o 1)

[2, 3, 4, 5, 6]

In [5]:
lista[ :2] # seleciona até o 2 (não conta o 2)

[1, 2]

In [6]:
lista[1:4:2] # seleciona do 1 ao 4, de 2 em 2 (sem contar o 4)

[2, 4]

Tipo de objeto

In [7]:
type(lista) # tipo de objeto

list

Alterando valores dentro da lista

In [8]:
lista[0] = 555
print(lista)

[555, 2, 3, 4, 5, 6]

Tamanho da lista

In [9]:
len(lista)

6

### Operadores Aritméticos

In [10]:
print(max(lista)) # máximo
print(min(lista)) # mínimo
sum(lista) # soma dos elementos da lista

555
2

575

União de Listas

In [11]:
lista2 = [1, 2]

lista = lista + lista2
lista

[555, 2, 3, 4, 5, 6, 1, 2]

Repetição de números

In [12]:
lista * 2

[555, 2, 3, 4, 5, 6, 1, 2, 555, 2, 3, 4, 5, 6, 1, 2]

Criação de sequências

* range(from, to, by)

In [13]:
list(range(10, 20, 2)) # conta o primeiro número mas não conta o último

[10, 12, 14, 16, 18]

### Manipulação de strings

A divisão de strings com base em um separador cria uma lista com cada string

In [14]:
string = "Hello World"

string_lista = string.split(sep = " ")
string_lista

['Hello', 'World']

Juntando uma lista de strings com base em um separador

In [15]:
sep = " "

sep.join(string_lista)

'Hello World'

### Iteração dentro de uma lista

Realiza uma iteração utilizando cada elemento da lista como variável de entrada

In [16]:
for i in lista:
    i += 1
    print(i)

556
3
4
5
6
7
2
3

### Verificar se um elemento está dentro da lista (True or False)

In [17]:
3 in lista

True

In [18]:
3 not in lista

False

### Métodos associados aos objetos da classe "list"

adicionar elementos à lista

In [19]:
print(lista)

[555, 2, 3, 4, 5, 6, 1, 2]

In [20]:
lista.append(7) # acrescenta somente um elemento ao FINAL da lista

print(lista)

[555, 2, 3, 4, 5, 6, 1, 2, 7]

In [21]:
lista.extend([8,9]) # acrescenta cada elemento do objeto ao final da lista.

# O objeto dentro da função pode ser uma string (lista de caracteres), tupla ou lista comum

print(lista)

[555, 2, 3, 4, 5, 6, 1, 2, 7, 8, 9]

In [22]:
lista.insert(9, 10) # acrescenta UM elemento no índice desejado (arrasta todos os elementos que estão após o índice)

# insert(indice, elemento)

print(lista)

[555, 2, 3, 4, 5, 6, 1, 2, 7, 10, 8, 9]

remover elementos da lista

In [23]:
lista.remove(1) # remove a primeira ocorrência daquele elemento (arrasta todos os números que estão após o índice)

print(lista)

[555, 2, 3, 4, 5, 6, 2, 7, 10, 8, 9]

In [24]:
lista.pop(7) # remove o elemento que está em determinado ÍNDICE e retorna o ELEMENTO

7

manipulação de listas

In [25]:
lista.count(8) # conta o número de ocorrências do elemento dentro da lista

1

In [26]:
lista.reverse() # inverte a ordem da lista
print(lista)

[9, 8, 10, 2, 6, 5, 4, 3, 2, 555]

In [27]:
lista.sort() # ordena a lista
print(lista)

lista.sort(reverse = True) # ordem decrescente
print(lista)

[2, 2, 3, 4, 5, 6, 8, 9, 10, 555]
[555, 10, 9, 8, 6, 5, 4, 3, 2, 2]

In [28]:
lista.index(10) # retorna o índice da primeira ocorrência do elemento especificado

1

# Tuplas

são coleções ordenadas de elementos, que não possuem as mesmas propriedades e funcionalidades das listas.

In [29]:
tupla = (1,2,3,4,5)
print(tupla)
print(type(tupla))

tupla = 1,2,3,4
print(tupla)
type(tupla)

(1, 2, 3, 4, 5)
<class 'tuple'>
(1, 2, 3, 4)

tuple