# pd.read_html( )

É uma função muito útil da biblioteca `pandas`, que localiza todas as tabelas dentro do HTML da página (provavelmente a partir da tag `<table>`) e armazena todos os objetos em formato DataFrame dentro uma lista, que podem ser acessados.

Podemos jogar tanto um url como argumento (da qual o `pandas` faz automaticamente a requisição HTTP na página e lê o HTML) quanto uma string que contém um código em HTML qualquer, e o `pandas` faz o trabalho de buscar a tabela dentro do texto.

In [5]:
import pandas as pd

### Lendo o URL diretamente

In [20]:
data = pd.read_html('https://www.ussoccer.com/uswnt-stats')

In [21]:
print("Objeto retornado: ",type(data))
print("DataFrames encontrados: ",len(data))
print("Tipagem dos elementos retornados: ",type(data[0]))

Objeto retornado:  <class 'list'>
DataFrames encontrados:  2
Tipagem dos elementos retornados:  <class 'pandas.core.frame.DataFrame'>

In [12]:
data[0].head()

                 0     1   2   3     4  5  6  7  8     9      10
0              Name  Pos.  GP  GS   Min  G  A  Y  R  Caps  Goals
1   Balcer, Bethany     F   1   0    12  0  0  0  0     1      0
2    Campbell, Jane    GK   4   4   360  0  0  0  0     7    NaN
3       Cook, Alana     D   3   3   270  0  0  0  0     4      0
4  Dahlkemper, Abby     D  15  14  1308  0  0  0  0    77      0

### Lendo um texto em formato HTML

In [16]:
import requests

In [18]:
# Realizando a requisição do HTML da página manualmente

url_link = 'https://finance.yahoo.com/quote/TSLA/profile'
r = requests.get(url_link,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
texto_html = r.text

In [19]:
data = pd.read_html(texto_html)

print("Objeto retornado: ",type(data))
print("DataFrames encontrados: ",len(data))
print("Tipagem dos elementos retornados: ",type(data[0]))

data[0].head()

Objeto retornado:  <class 'list'>
Tamanho da lista:  1
Tipagem dos elementos retornados:  <class 'pandas.core.frame.DataFrame'>

,Name,Title,Pay,Exercised,Year Born
0,Mr. Elon R. Musk,"Technoking of Tesla, CEO & Director",NaN,NaN,1972.0
1,Mr. Zachary J. Kirkhorn,Master of Coin & CFO,300.76k,4.19M,1985.0
2,Mr. Andrew D. Baglino,Sr. VP of Powertrain & Energy Engineering,283.27k,14.86M,1981.0
3,Mr. Vaibhav Taneja,Corp. Controller & Chief Accounting Officer,NaN,NaN,1978.0
4,Mr. Martin Viecha,Sr. Director for Investor Relations,NaN,NaN,NaN